{% extends 'base.html' %}
{% block body %}
<form class="h-100 bg-dark" action="{{url_for('authentification.register')}}" method="post">
    <div class="container py-5 h-100">
      {%with messages = get_flashed_messages()%}
    {%if messages%}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}
      <div class="row d-flex ">
        <div class="col">
          <div class="card card-registration my-4">
            <h3 class="mb-5 text-uppercase" style="justify-content: center; align-items: center;">User registration form</h3>

            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block justify-content-center align-items-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>

              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="nom">Nom</label>
                        <input type="text" name="nom" id="nom" class="form-control form-control-lg" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="prenom">Prenom</label>
                        <input type="text" id="prenom" name="prenom" class="form-control form-control-lg" />
                      </div>
                    </div>
                  </div>
  

                      <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="text" id="email" name="email" class="form-control form-control-lg" />
                      </div>

  
                  <div class="form-outline mb-4">                    
                    <label class="form-label" for="motdepasse">Mot de passe</label>
                    <input type="text" id="motdepasse" name="motdepasse" class="form-control form-control-lg" />
                  </div>
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light btn-lg">Reset all</button>
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}
